.jGrowl .notification_popup{
    background-color: 		#005F9F;
    color: 					#ffffff;
    font-weight:            normal;
    opacity:  1;
}
div.jGrowl-message a{
    color: 					#ffffff;
    font-weight:            bolder;
}
div.jGrowl-message a:hover{
    text-decoration:            underline;
}
