.btn, .btn:hover {
    color: #888888;
}

.btn.btn-primary,
a.list-group-item.active:hover,
a.list-group-item.active {
    color: #ffffff ;
}
.navbar{
    z-index: 100;
}

.error-container {
    height: calc(100vh - 56px);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.error-header {
    color: #ef555c;
    font-size: 64px;
}

/* Chrome, Internet Explorer & Edge, Safari, etc */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance:textfield;
}